.message {
    text-align: center;
    background-color: lightgray;
    padding: 23px;
}

.message p {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

hr {
    color: black;
    border-top: 3px solid black;
    border-style: solid;
    width: 10%;
}

#linkedIn {
    display: flex;
    flex-direction: row;
    font-size: larger;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8.5%;
    padding-right: 8.5%;
}

#linkedIn .text{
    padding-right: 12%;
}

#linkedIn button{
    font-size: 18px;
    border-radius: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgb(8, 123, 206);
}

#linkedIn button:hover {
    background-color: rgb(7, 96, 160);
    cursor: pointer;
}

#linkedIn #logo {
    list-style-image: url(../images/icons/contact.svg);
    margin-left: 1.8em;
}

#linkedInImage {
    height: 75%;
    width: 250px;
}

#linkedIn .logo {
    margin-left: auto;
}

footer {
    margin-top: 35px;
}

@media (max-width: 700px) {
    .message{
        font-size: medium;
    }

    #linkedIn {
        flex-direction: column;
        font-size: medium;
    }

    #linkedIn button {
        margin-bottom: 5%;
        margin-left: 30%;
        font-size: medium;
    }

    #linkedIn .logo {
        margin-left: 1.4em;
    }

    hr {
        width: 13.5%;
    }

}