.message {
    text-align: center;
    background-color: rgb(202, 195, 195);
    border-radius: 3vh;
    padding: 10px;
    width:85%;
    margin-right: auto;
    margin-left: auto;
}

.message p {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

hr {
    color:darkslategray;
    border-top: 3px solid black;
    border-style: solid;
    width: 10%;
}

.container {
    display: flex;
    flex-direction: row;
    font-size: larger;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8.5%;
    padding-right: 8.5%;
}

#separate {
    border: 3px;
    color: black;
    border-style: solid;
    width: 83%;
}

.container .text{
    padding-right: 12%;
}

.container button{
    font-size: 18px;
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(206, 206, 206);
}

.container #linkedInlogo {
    list-style-image: url(../images/icons/contact.svg);
    margin-left: 1.8em;
}

.container #githubLogo {
    list-style-image: url(../images/icons/github.svg);
    margin-left: 1.8em;
}

#containerImage {
    height: 75%;
    width: 250px;
}

.container .imageLogo {
    margin-left: auto;
}

.container img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.container img {
    transform: scale(1);
    transition: 0.5s;
}

footer {
    margin-top: 35px;
}

@media (max-width: 700px) {
    .message{
        font-size: medium;
    }

    .container {
        flex-direction: column;
        font-size: medium;
    }

    .container button {
        margin-bottom: 5%;
        margin-left: 25%;
        font-size: medium;
    }

    .container .imageLogo {
        margin-left: 10%;
    }

    hr {
        width: 13.5%;
    }

}