
footer {
    color:white;
    background-color: black;
    overflow: hidden;
}

footer h3 {
    font-size: 25px;
}

footer ul {
    background-color: black;
}

footer li {
    text-align: center;
    list-style-type: none;
    background-color: black;
    float: right;
    padding-right: 20px;
}

footer a:visited {
    text-decoration: none;
    color:white
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    footer h3 {
        font-size: 15.5px;
        text-align: center;
    }

    .bottomFoot li {
        padding: 10px 10.4em;
        font-size: 14.5px;
        list-style-position: inside;
    }
}