body {
    background-color: rgba(181, 168, 168, 0.947);
    /*62, 62, 62, 0.947*/
}

.navBar ul {
    overflow: hidden;
    list-style-type: none;
    border: 3px solid;
    background-color: black;
}

.navBar li{
    font-size: 25px;
    text-align: center;
    color: white;
    float: right;
    padding: 20px;
    border-radius: 50px;
    border-color: white;
}

.navBar li:hover {
    background-color: rgb(127, 126, 126);
}

.navBar h1 {
    font-size: 25px;
    color:white
}

.navBar a {
    text-decoration: none;
    color: white;
}

.navBar a:visited {
    text-decoration: none;
}
