body {
    background-color: rgb(235, 226, 226);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navName {
    position: absolute;
    margin-left: 3%;
}

.navBar {
    background-color: rgb(235, 226, 226);
    position: sticky;
    top: 0;
    z-index: 100;
    border: 1px solid rgb(201, 180, 180);
    border-style: none none groove none;
}

.navBar h1{
    transform: scale(1.0);
    transition: 0.5s;
}

.navBar h1:hover{
    cursor: default;
    transform: scale(1.1);
    transition: 0.5s;
}

.navBar ul {
    overflow: hidden;
    list-style-position: inside;
    margin: 0px;
}

.navBar li{
    font-size: 20px;
    text-align: center;
    color: black;
    float: right;
    padding: 20px;
    border-color: white;
    margin-left: 5px;
}

.navBar li:hover {
    background-color: rgb(202, 192, 192);;
}

.navBar h1 {
    font-size: 25px;
    color:black;
}

.navBar a {
    text-decoration: none;
    color: white;
}

.navBar a:visited {
    text-decoration: none;
}

/* max-width: 600px */
@media (max-width: 900px) {
    .navBar li {
        padding: 5px 5.4em;
        font-size: 28.5px;
        list-style-position: inside;
    }

    .navBar{
        text-align: right;
        position: relative;
    }

    .navName {
        position: relative;
        right: 18%;
        margin: 0;
    }
    
}


/* Icon Ised: https://icons.getbootstrap.com/icons/house-door-fill/ */
.navBar #home{
    list-style-image: url(../images/icons/home.svg);
}

/* Icon Used: https://icons.getbootstrap.com/icons/file-earmark-code-fill/ */
.navBar #projects {
    list-style-image: url(../images/icons/projects.svg);
}

/* Icon Used: https://icons.getbootstrap.com/icons/github/ */
.navBar #github {
    list-style-image: url(../images/icons/github.svg);
}

/* Icon Used: https://icons.getbootstrap.com/icons/person-fill/ */
.navBar #contact {
    list-style-image: url(../images/icons/contact.svg);
}