
/* HEADER BOX */
#banner {
    margin-top: 20px;
    overflow: hidden;
}

.articleText p h1{
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    overflow: hidden;
}

.articleText {
    background-color: black;
    padding-bottom: 10%;
    border-radius: 9%;
    border-color: gray;
    border-style: solid;
    border-width: 30px;
}

.articleText h1 {
    color:rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    right: 150px;
    top: 75px;
    position: relative;
    text-decoration: none;
}

button {
    background-color:#2ea92e;
    color:white;
    size: 300px;
    font-size: 18px;
    width: 200px;
    height: 70px;
    border-radius: 75px;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

#banner .imageSide img{
    float: left;
    margin-left: 25%;
    margin-top: 13.5em;
    width: 135px;
    scale: 250%;
    border-radius: 50%;
    height: 145px;
    display: flex;
}


#banner .articleText h1,p {
    margin-right: 18%;
    left: 15%;
}

/* Shapes */
#theShapes .pole{
    width: 250px;
    height: 120px;
    margin-left: calc(80% / 2);
    background-color: gray;
}

#theShapes .stand {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: rgb(14, 181, 100);
}

#theShapes .table {
    width: auto;
    height: 150px;
    background-color: #964B00;
    bottom: 150%;
}

/* About Me */
#aboutMe, .aboutImage .aboutText {
    display: flex;
    flex-direction: row;
    padding-left: 12.5%;
    padding-right: 15.5%;
    padding-top: 3%;
    padding-bottom: 7.5%;
    justify-content: space-evenly;
}
#aboutMe .aboutText li{
    margin-left: 5%;
}

#aboutMe h2 {
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
}

#aboutMe li {
    padding-left: 8%;
    padding-bottom: 8%;
    font-size: large;
    list-style-type: none;
}

#aboutMe .imageSide img {
    border-radius: 5%;
    display: block;
    height: 570px;
    
}

/* Tech Skills */
#techSkills  {
    display: flex;
    padding: 2.5%;
    width: 85%;
    margin-left: 5%;
    flex-direction: row;
    padding-bottom: 2.5%;
}

#techSkills h3{
    font-size: 25px;
    text-align: center;
}

#techSkills img {
    height: 100px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 3%;
    display: block;
}

#techSkills .java, .python, .htmlCSS {
    background-color: rgb(239, 239, 239);
    border: 7.5px;
    border-radius: 15px;
    border-style: solid;
}

#techSkills li {
    padding: 1%;
}

#techSkills .java hr {
    border: 2px solid orange;
    width: 50%;
}

#techSkills .java {
    border-color: orange;
}

#techSkills .python {
    border-color: rgb(5, 123, 187);
}

#techSkills .python hr {
    border: 2px solid rgb(5,123,187);
    width: 50%;
}

#techSkills .htmlCSS {
    border-color: rgb(5, 123, 187) rgb(255, 98, 0);
}

#techSkills .htmlCSS hr {
    border: 2px solid rgb(5, 123, 187);
    width: 50%;
}

#twoImages {
    display: flex;
    flex-direction: row;
    position: relative;
}

h2 .skillsLink {
    color: blue;
    text-decoration: none;
}

h2 .skillsLink:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}

h2 .skillsLink:visited {
    color: blue;
    text-decoration: none;
    font-style: none;
}

.li a:visited{
    color: blue;
    text-decoration: none;
    font-style: none;
}
