/* HEADER BOX */
#banner {
    overflow: hidden;
    background-color: black;
    margin-top: 1.8%;
    padding-bottom: 5%;
    border-radius: 3.5em;
    border-color: gray;
    border-style: solid;
    border-width: 35px;
}

.bannerText p{
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20%;
}

.bannerText {
   margin-left: 25%;
   margin-top: 5%;
}

.bannerText h1 {
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
}

.bannerText button {
    background-color:#2ea92e;
    color:white;
    font-size: 18px;
    width: 200px;
    height: 70px;
    border-radius: 0.4em;
}

.bannerText button:hover {
    background-color: green;
    cursor: pointer;
}

#banner {
    display: flex;
    flex-direction: row;
}

#banner img {
    border-radius: 50%;
    height: 370px;
    margin-left: 65%;
    margin-top: 17.5%;
}

/* Shapes */
#theShapes .pole{
    width: 250px;
    height: 120px;
    margin-left: calc(80% / 2);
    background-color: gray;
}

#theShapes .stand {
    width: 50px;
    height: 50px;
    background-color: rgb(14, 181, 100);
}

#theShapes .table {
    width: auto;
    height: 150px;
    background-color: #964B00;
    bottom: 150%;
}

/* About Me */
#aboutMeHeader hr{
    width: 10%;
}

#aboutMe, .aboutImage .aboutText {
    display: flex;
    flex-direction: row;
    padding-left: 12.5%;
    padding-right: 15.5%;
    padding-top: 3%;
    padding-bottom: 5%;
}

#aboutMe .aboutText li{
    margin-left: 5%;
}

#aboutMe h2 {
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
}

#aboutMe li {
    padding-left: 8%;
    padding-bottom: 8%;
    font-size: large;
    list-style-type: none;
}

#aboutMe .imageSide img {
    margin-top: 15%;
    border-radius: 5%;
    height: 35em;
}

/* NEW COL SKILLS */
#techCol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
}

.pythonLang, .javaLang, .htmlCSSLang, .SQL {
 margin-top: 30px;   
}

#techCol hr{
    border: 1px solid rgb(0, 0, 0); 
    margin-bottom: 1.75%;
}

#techCol img {
    height: 90px;
    margin-left: 10%;
    margin-top: 2%;
    display: block;
}

#techCol .twoImages {
    display: flex;
    flex-direction: row;
}

#techCol .modalButtonClass:hover, hr:hover{
    cursor: pointer;
    color: rgb(16, 96, 96);
    border-radius: 10%;
}

#techCol .pythonLang:hover {
   fill: #3776AB
}

#javaImageSide{
    height: 15px !important;
    margin-right: 1.8cm;
}

#techCol .htmlCSSLang svg {
    height: 100px;
}

#techHeader h1 {
    font-size: 40px;
}

#techHeader h3 {
    font-size: 20px;
}

.htmlColor:hover{
    fill:#E34F26;
}

.cssColor:hover{
    fill:#663399;
}

#htmlImageSide {
    margin-left: 25%;
}

#CSSImageSide {
    margin-left: 25%;
}

.SQL:hover {
    fill: #1e7dd6;
}

h2 .skillsLink {
    color: blue;
    text-decoration: none;
}

h2 .skillsLink:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}

h2 .skillsLink:visited {
    color: blue;
    text-decoration: none;
    font-style: none;
}

.li a:visited{
    color: blue;
    text-decoration: none;
    font-style: none;
}

@media (max-width: 900px) {
    #banner {
        flex-direction: column;
    }

    #banner img {
        margin-left: 20%;
        height: auto;
        width: 65%;
    }
}

@media (max-width: 800px) {
    #aboutMe, .aboutImage .aboutText {
        flex-direction: column;
    }

    #techCol {
        justify-content: space-evenly;
        padding: 5%;
    }

    #aboutMe .imageSide img{
        border-radius: 5%;
        height: 28.5em;
        margin: auto;
        display: block;
    }

    #theShapes .pole {
        width: 125px;
        height: 120px;
        margin-left: calc(75%/2);
    }

    #aboutMeHeader hr{
        width: 10%;
    }

    #aboutMe {
        font-size: medium;
    }

    #techHeader h1{
        font-size: xx-large;
    }

    #javaImageSide {
        margin-left: 30% !important; 
    }
   

}
