
.introBox p {
    text-align: center;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.introBox {
    background-color: lightgray;
    padding: 15px;  
}

.introBox a{
    text-decoration: none;
    color: blue;
}

.introBox a:visited{
    text-decoration: none;
    color:blue;
    font-style: none;
}

.introBox a:hover{
    background-color: blue;
    color: white;
}

.introBox hr {
    color: black;
    border-top: 3px solid black;
    border-style: solid;
    width: 10%;
}

#container {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8.5%;
    padding-right: 8.5%;
    font-size: larger;
}

#container button{
    font-size: 18px;
    border-radius: 1em;
    color: black;
    background-color: white;
    padding: 0.5em;
}

#container button:hover{
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

aside {
    padding-right: 25%;
}

#container img {
    height: 275px;
    border-radius: 5.5%;
    margin-left: auto;
}

#container .alienImage, .diceImage, .rotaractBotImage, .tbaImage{
    margin-left: auto;
}

#container .rotaractBotImage img{
    width: 80%;
    height: 80%;
    margin-left: 17%;
}

#separate {
    border: 3px;
    color: black;
    border-style: solid;
    width: 83%;
}

#container #github {
    list-style-image: url(../images/icons/githubDark.svg);
    margin-left: 2em;
}

@media (max-width: 700px) {
    .introBox p{
        font-size: medium;
    }

    #container {
        flex-direction: column;
        font-size: medium;
    }
    
    #container button {
        margin-bottom: 5%;
        margin-left: 35%;
        font-size: medium;
    }

    #container img {
        height: auto;
    }

    #container img {
        max-width: 100%;
    }

    hr {
        width: 20%;
    }

}
