.introBox p {
    text-align: center;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.introBox {
    background-color: lightgray;
    padding: 15px;  
}

.introBox a{
    text-decoration: none;
    color: blue;
}

.introBox a:visited{
    text-decoration: none;
    color:blue;
    font-style: none;
}

.introBox a:hover{
    background-color: blue;
    color: white;
}

.introBox hr {
    color: black;
    border-top: 3px solid black;
    border-style: solid;
    width: 85%;
}
/*Containers*/
#container {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8.5%;
    padding-right: 8.5%;
    font-size: larger;
}

#container button{
    font-size: large;
    border-radius: 75px;
    padding: 2%;
    color: black;
    background-color: white;
}

#container button:hover{
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

aside {
    padding-right: 25%;
}

#container img {
    height: 275px;
    margin-left: 1%;
    border-radius: 7.5%;
}

#container .tbaImage img {
    margin-left: 112%;
    border-radius: 5%;
}

#separate {
    border: 3px;
    color: black;
    border-style: solid;
    width: 83%;
}

#container #github {
    list-style-image: url(../images/githubDark.svg);
}